PyYAML==6.0.1
discord[voice]==2.3.2
pymongo==4.7.3
aiohttp==3.9.5
emoji==2.12.1
PyExifTool==0.5.6
wordnik-py3==2.1.2
numpy==1.26.4
pillow==10.3.0
quantities==0.15.0
millify==0.1.1
matplotlib==3.9.0
forex-python==1.8
asteval==0.9.33
Google-Images-Search==1.4.6
pytimeparse==1.1.8
translators==5.9.2
pycountry==24.6.1
pyowm==3.3.0
openai==1.33.0
